<div class="payment-checkout" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex.gt-md="50" *ngIf="!paymentSuccess">
    <mat-card-title>Payment Checkout</mat-card-title>
    <mat-card-content>
      <form #form="ngForm" (ngSubmit)="submit(form)">
        <div fxLayout="row wrap">
          <div fxFlex="100" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Amount</mat-label>
              <input type="number" name="amount" placeholder="e.g. 1000000.00"
                     #amount="ngModel" [(ngModel)]="payment.amount" matInput required>
              <mat-error *ngIf="amount.invalid && (amount.dirty || amount.touched)">
                Amount is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Remarks</mat-label>
              <textarea name="remarks" #remarks="ngModel" [(ngModel)]="payment.remarks"
                        placeholder="e.g. Heist" maxlength="100" matInput></textarea>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="50" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Name on Card</mat-label>
              <input type="text" name="name" placeholder="e.g. Haku Kale"
                     #name="ngModel" [(ngModel)]="card.name" matInput required>
              <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Credit Card Number</mat-label>
              <input type="text" name="number" placeholder="e.g. 4111111111111111"
                     #number="ngModel" [(ngModel)]="card.number" ccNumber matInput required>
              <mat-error *ngIf="number.invalid && (number.dirty || number.touched)">
                Credit Card Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>Expiration</mat-label>
              <input type="text" name="expiration" placeholder="e.g. 02/20"
                     #expiration="ngModel" [(ngModel)]="card.expiry" ccExp matInput required>
              <mat-error *ngIf="expiration.invalid && (expiration.dirty || expiration.touched)">
                Expiration is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50" fxLayout="column">
            <mat-form-field appearance="outline">
              <mat-label>CVV</mat-label>
              <input type="number" name="cvv" placeholder="e.g. 012"
                     #cvv="ngModel" [(ngModel)]="card.cvv" ccCVC matInput required>
              <mat-error *ngIf="cvv.invalid && (cvv.dirty || cvv.touched)">
                CVV is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button type="submit" class="button-lg" mat-raised-button color="primary" [disabled]="submitting">
            <span *ngIf="!submitting">Submit</span>
            <span *ngIf="submitting">Submit...</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="payment-success-card" fxFlex.gt-md="30" *ngIf="paymentSuccess">
    <mat-card-title>Payment Success</mat-card-title>
    <mat-card-content>
      <p class="message">
        Payment successfully processed!<br>
        <button mat-button color="accent" (click)="resetView()">Reset View</button>
      </p>
    </mat-card-content>
  </mat-card>
</div>
