.payment-checkout {
  margin: 4rem auto;

  form {
    margin: 1rem -0.5rem;

    div {
      padding: 0 0.5rem;
    }
  }

  .payment-success-card {
    .message {
      text-align: center;
      margin: 2rem 0;
    }
  }
}
