/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #f2efff;
}

.button-lg {
  font-size: 1.2rem;
  height: 3rem
}
